

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*FONTS*/


@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: lighter;
    font-style: lighter;

}

p, div, input{
font-family:'open_sans'!important;
}
@font-face {
    font-family: 'hiruko';
    src: url('../fonts/hiruko.eot');
    src: url('../fonts/hiruko.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hiruko.woff') format('woff'),
         url('../fonts/hiruko.ttf') format('truetype'),
         url('../fonts/hiruko.svg#hirukoblack_alternate') format('svg');
    font-weight: normal;
    font-style: normal;

}
html { height: 100% 
}
body {
       height: 100%; margin: 0px;
}
#bg {
    -webkit-transform: translate3d(0, 0, 0);
       background-image:url(../img/bg.jpg);
       background-size:110%;
       height: 100%; margin: 0px;
       width:100%;
        z-index:2;
    -webkit-transition: all 0.6s ease-in-out;
        position:absolute;
    opacity:1;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    
}
#googleMap { 
    height: 100%;
    width:100%;
}
.logo{
    -webkit-transform: translate3d(0, 0, 0);
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   text-align:center; 
-webkit-transition: all 0.6s ease-in-out;
   display:inline;
    z-index:99;
}
.block{
   font-family: 'hiruko';
  display: block;
  font-size:10em;
  color:#fff; 
  text-align:center;
  line-height:80%;
    
}

.logo img{
 float:right;
display:inline;   
    
}

.logo .btn{
 float:left;
width:60%!important;
margin-top:15%;
display:inline;   
}







